/* You learn now! */
html, body {
	background: #f1f1f1;
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Droid Sans', sans-serif;
}

.container {
	max-width: 70em;
	margin: 0 auto;
}

header {
	margin: 0 0 2em;
	padding: 1em 0 0;
	text-align: center;
}

header h1 {
	margin: 0 0 0.25em;
}

section {
	margin: 0 0 2em;
}

section .project-list {
	margin: 0 0 1em;
	padding: 0 0 0 2em;
}

.project-list li {
	margin: 0 0 1em;
}

footer {
	text-align: center;
	color: #888;
	font-size: 0.8em;
}








/* base styles, like boilerplate but minimal */
.container p {
	margin: 0 auto 1em;
	line-height: 1.5;	
}

hr {
	height: 2px;
	background: #333;
	border: 0;
	margin: 0 2.5% 2em;
}